[submodule "fairchem"]
	path = fairchem
	url = https://github.com/FAIR-Chem/fairchem.git
[submodule "mace"]
	path = mace
	url = https://github.com/ACEsuit/mace
[submodule "strain_relief"]
	path = strain_relief
	url = https://github.com/ftyuejian/strain_relief.git
