[submodule "mace"]
	path = mace
	url = https://github.com/ACEsuit/mace
[submodule "strain_relief"]
	path = strain_relief
	url = https://github.com/ftyuejian/strain_relief.git
[submodule "submodule/byteff2"]
	path = submodule/byteff2
	url = https://github.com/ftyuejian/byteff2.git
[submodule "submodule/electrolytes"]
	path = submodule/electrolytes
	url = https://github.com/ishanthewizard/electrolytes.git
