includes:
  - configs/slurm/regular.yml
  # - configs/slurm/debug.yml
logger: 
  name: wandb
  project: stachyose

trainer: ocp

dataset:
  train:
    format: lmdb
    src: /data/shared/MLFF/MD22/95_lmdb/stachyose/train
    # src: /pscratch/sd/i/ishan_a/MD22/95_lmdb/stachyose/train
    # split: 5000
    key_mapping:
      y: energy
      force: forces
    transforms:
      normalizer:
        energy:
          mean: -68463.59
        #   stdev: 0.5940788
        # forces:
        #   mean: 0
        #   stdev: 1.1104717
  val:
    src: /data/shared/MLFF/MD22/95_lmdb/stachyose/val
    # src: /pscratch/sd/i/ishan_a/MD22/95_lmdb/stachyose/train



outputs:
  energy:
    shape: 1
    level: system
  forces:
    irrep_dim: 1
    level: atom
    train_on_free_atoms: True
    eval_on_free_atoms: True

loss_functions:
  - energy:
      fn: mae
      coefficient: 1
  - forces:
      fn: l2mae
      coefficient: 100
evaluation_metrics:
  metrics:
    energy:
      - mae
    forces:
      - mae
      - cosine_similarity
      - magnitude_error
    misc:
      - energy_forces_within_threshold
  primary_metric: forces_mae
