includes:
  - configs/slurm/premium.yml
logger: 
  name: wandb
  project: spice-Energy-FINAL

trainer: ocp

dataset:
  train:
    no_shuffle: True
    format: lmdb
    src: data/spice_separated/Solvated_Amino_Acids/train
    key_mapping:
      y: energy
      force: forces
    transforms:
      normalizer:
        energy: 
            mean: 0
            rmsd: 1 #0.08761493116617203 # Ryan's value for spice
        forces: 
            mean: 0   # 
            rmsd: 1  # 
      element_references:
        file: configs/SPICE/element_references.pt
  val:
    src: data/spice_separated/Solvated_Amino_Acids/val


outputs:
  energy:
    shape: 1
    level: system
  forces:
    irrep_dim: 1
    level: atom
    train_on_free_atoms: True
    eval_on_free_atoms: True


loss_functions:
  - energy:
      fn: per_atom_mae
      coefficient: 5
  - forces:
      fn: l2mae
      coefficient: 100
    
evaluation_metrics:
  metrics:
    energy:
      - per_atom_mae
    forces:
      - mae
      - cosine_similarity
      - magnitude_error
    misc:
      - energy_forces_within_threshold
  primary_metric: forces_mae
