includes:
- configs/md22/double-walled_nanotube/base.yml

model:
  name: escn
  num_layers: 4 # smaller
  max_neighbors: 50
  cutoff: 5.0
  sphere_channels: 32 # smaller 
  hidden_channels: 64 # smaller
  lmax_list: [2]
  mmax_list: [2]
  num_sphere_samples: 128
  distance_function: "gaussian"
  regress_forces: True
  use_pbc: True
  basis_width_scalar: 2.0
  otf_graph: True
  emb_size_teacher: 256

optim:
  batch_size: 8
  eval_batch_size: 4
  num_workers: 4
  lr_initial: 0.001
  optimizer: AdamW
  optimizer_params: {"eps": 1.e-7, "weight_decay": 0.000002, "amsgrad": True}
  
  scheduler: ReduceLROnPlateau
  patience: 5
  factor: 0.8
  min_lr: 0.000001  
  
  max_epochs: 10000
  ema_decay: 0.999
  clip_grad_norm: 10
